<div class="p-2">
    <img
    height="210px"
    width="280px"
    style="max-height: 210px; max-width: 280px;"
    class="margin-auto"
    [src]="'http://localhost:1337'+incidente.attributes.fotogramas.data[0].attributes.url"
    alt=""
    >

    <p class="font-black font-5xl">Incidente #{{ incidente.id }}</p>

    <p>Latitud: <span class="float-right">{{ incidente.attributes.latitud }}</span></p>
    <p>Longitud: <span class="float-right">{{ incidente.attributes.longitud }}</span></p>
</div>




<hr>